<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/FreddyFY/material-datepicker/master/dist/material-datepicker.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.4.1/css/colReorder.dataTables.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static "moment-with-locales.min.js"%}"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/FreddyFY/material-datepicker/master/dist/material-datepicker.min.js"></script>
    <link rel="stylesheet" href="{%static "getmdl-select.min.css"%}">
    <script defer src="{% static "dataTables.responsive.min.js" %}"></script>
    <script defer src="{% static "getmdl-select.min.js" %}"></script>
    <script defer src="{% static "admin.js" %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.4.1/js/dataTables.colReorder.min.js"></script>
    <title>Administrador</title>
    <style>
      .child,.dtr-details{
        align-items: center;
        align-self: center;
        text-align: center;
        align: center;
      }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Administrador</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/admin_site">Inicio</a>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Administrador</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/admin_site">Inicio</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">

      <div class="container">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col" align="center" >
            <form id="form" class="" action="/admin_site/" method="post">{% csrf_token %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" style="display:inline-block;">
                  <input type="text" value="" name="empresa" class="mdl-textfield__input" id="sample4" readonly>
                  <input type="hidden" value="" name="sample4">
                  <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                  <label for="sample4" class="mdl-textfield__label" >Empresa</label>
                  <ul for="sample4" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                    {%for empresa in empresas %}
                      <li class="mdl-menu__item" data-val="DEU">{{empresa.empresa}}</li>
                    {% endfor %}

                  </ul>
                  <!-- Colored FAB button with ripple -->
                </div>
                <div style="display:inline-block;">
                     <div class="mdl-textfield mdl-js-textfield">
                       <label for="sample1">
                         <span style="font-size:15px;">
                           Desde
                         </span>
                       </label>
                        <input id="picker" class="mdl-textfield__input" type="text" id="sample1" name="desde" style="text-align:center;color:#30b90e;">
                      </div>
                      <div class="mdl-textfield mdl-js-textfield">
                        <label for="sample1" >
                          <span style="font-size:15px;">
                            Hasta
                          </span>
                        </label>
                         <input id="picker2" class="mdl-textfield__input" type="text" id="sample1" name="hasta" style="text-align:center;color:#30b90e;">
                       </div>
                  <button class="mdl-button  mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom:2%;">
                    <i class="material-icons">search</i>
                  </button>
                  <script type="text/javascript">
                    var materialPicker001 = new MaterialDatepicker('#picker',{
                       lang: "es",
                       type: 'date',
                       color: "#62b22f"
                    });
                    var materialPicker002 = new MaterialDatepicker('#picker2',{
                       lang: "es",
                       type: 'date',
                       color: "#62b22f"
                    });
                  </script>
                </div>
                  </form>
              </div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col" align="center" >
      <table id="example" class="display nowrap" style="width:100%;">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Celular</th>
            <th scope="col" style="text-align:center; width:20px;">producto</th>
            <th scope="col">ubicacion</th>
            <th scope="col">encargado</th>
            <th scope="col">fecha</th>
            <th scope="col">hora</th>
          </tr>
        </thead>
        <tbody style="text-align:center;" align="center">
          {% for cliente in clientes %}
          <div align="center">
          <tr id=row-{{cliente.cliente_id}} >
              <td id={{cliente.cliente_id}}-name >{{cliente.nombre}}</td>
              <td> {{cliente.apellido}}</td>
              <td id={{cliente.cliente_id}}-telefono>{{cliente.celular}}</td>
              <td style="text-align:center;" id={{cliente.cliente_id}}-producto>
                <ul >
                  {%for y in cliente.pedidos.all%}
                  <li> <strong>{{y.cantidad}}</strong> {{y.producto}}</li>
                  {%endfor%}
                </ul>
              </td>
              <td><a id={{cliente.cliente_id}}-ubicacion href={{cliente.ubicacion}} target="_blank">Ubicacion</a></td>
              <td>
                {{cliente.encargado}}
              </td>
              <td>{{cliente.fecha}}</td>
              <td>{{cliente.hora}}</td>
          </tr>
          {% endfor %}
          </div>
        </tbody>
      </table>
    </div>

      <script type="text/javascript">
        $(document).ready(function() {
          $('#example').DataTable({
        responsive:true,
        })

      } );
    </script>
    </div>

    </div>
  </main>
</div>
</div>

  </body>
</html>
