<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap4.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js"></script>

    {% load static %}
    <script type="text/javascript" src="{% static 'table.js' %}"></script>
  </head>
  <body>
  {% if error %}
  <div class="alert alert-success">
      <a class="close" href="#" data-dismiss="alert">×</a>

      {{ error }}

  </div>
  {%else%}
    <div class="container-fluid">
      <div class="card">
        <div class="card-header card text-white bg-dark mb-3">
          <div class="row">
            <div id="header" class="col-sm" align="center">
              <h2>Pedidos</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="example" class="table table-striped table-bordered nowrap" style="text-align:center;" style="width:100%">
              {% if clientes %}
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Celular</th>
                  <th scope="col">producto</th>
                  <th scope="col">ubicacion</th>
                  <th scope="col">encargado</th>
                  <th scope="col">fecha</th>
                  <th scope="col">hora</th>
                </tr>
              </thead>
              <tbody>
                {% for cliente in clientes %}

                <tr id=row-{{cliente.cliente_id}}>
                  <div>
                    <td data-priority="1" id={{cliente.cliente_id}}-name>{{cliente.nombre}} {{cliente.apellido}}</td>
                    <td id={{cliente.cliente_id}}-telefono>{{cliente.celular}}</td>
                    <td id={{cliente.cliente_id}}-producto>
                      <ul>
                        {%for y in cliente.pedidos%}
                        <li style="text-align:left;"> <strong>{{y.cantidad}}</strong> {{y.producto}}</li>
                        {%endfor%}
                      </ul>
                    </td>
                    <td><a id={{cliente.cliente_id}}-ubicacion href={{cliente.ubicacion}} target="_blank">Ubicacion</a></td>
                    <td>
                      {{cliente.encargado}}
                    </td>
                    <td>{{cliente.fecha}}</td>
                    <td>{{cliente.hora}}</td>
                  </div>
                </tr>
                {% endfor %}
                <span id="jola" hidden>{{valor}}</span>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
      {% else %}
      <p>no hay pedidos disponibles</p>
      {% endif %}
    </body>
{%endif%}
</html>
