<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>

    <title></title>
  </head>
  <body>
<div id="prueba">
  {% if pedidosconfirmados %}
    {% for pedido in pedidosconfirmados %}
        <form id="myform" action="{% url 'pedidosaceptados' %}" method="POST">
            {% csrf_token %}
            <input style="text-align: center;" type="number" name="id" value={{pedido.pedido_id}} readonly>
            <input style="text-align: center;" name="encargado" value={{pedido.encargado}} readonly>
            <input style="text-align: center;" name='pedido' value={{pedido.pedido_cliente}} readonly>
            <input style="text-align: center;" name='name' value={{pedido.pedido_cliente_nombre}} readonly>
        </form>
        {% endfor %}
  {% else %}
  <p>no hay pedidos aceptados</p>
  {%endif%}
</div>


  </body>
</html>
