<html><body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">

</script>
    <h1>Profile</h1>
    {% for profile in profiles %}
    {% if not profile.cliente_status %}
    <form id="myform" action="{% url 'yo' %}" method="POST">
        {% csrf_token %}
        <input type="number" name="id" value={{profile.cliente_id}} readonly>
        <input type="text" name="nombre" value={{profile.cliente_nombre}} readonly>
        <input type="text" name='pedido' value={{profile.cliente_pedido}} readonly>
        <input type="text" name='ubicacion' value={{profile.cliente_ubicacion}} readonly>
        <select required name="encargado">
            <option value="">None</option>
            {% for encargado in encargados %}
          <option value={{encargado.nombre}}>{{encargado.nombre}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Save">
    </form>
    {% endif %}
    {% endfor %}
    </body></html>
