<!DOCTYPE html>
<html class="ui-mobile">

  <head>
    {% include 'bootstrap.html'%}
    {% include 'includes.html'%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
          {% load static %}
    <script type="text/javascript" src="{% static "script_home2.js" %}"></script>
    <script type="text/javascript" src="{% static "script_home.js" %}"></script>
    <script type="text/javascript" src="{% static "script_home3.js" %}"></script>
    <title>Home</title>
  </head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Solutions S.A.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://delivery.simplelectronica.com:8000/home/encargados/{{page}}" target="_blank">Despacho pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://delivery.simplelectronica.com:8000/home/datos/{{page}}" target="_blank">Datos almacenados</a>
        </li>
      </ul>
      <form  action="{% url 'logout' %}" class="form-inline">
        <label class="col-sm-8" style="color:white;"><b> Usuario: </b> {{user.username}}</label>
        <button class="btn btn-outline-light col-sm-4" type="submit">Salir</button>
      </form>
    </div>
  </nav>


  <div class="container-fluid">
    {% csrf_token %}
    <div class="card">
      <div class="card-header card text-white bg-dark mb-3">
        <div class="row">
          <div id="header" class="col-sm" align="center">
            <h2>Pedidos</h2>
          </div>
          <div id="header" class="col-sm" align="center">
            <button id="btn-noti" type="button" class="btn btn-warning">
              Nuevos Pedidos <span id="noti" class="badge badge-light"></span>
            </button>
          </div>
          <div id="header" class="col-sm" align="center">
            <input  onclick="window.open('https://delivery.simplelectronica.com:8000/home/nuevo/{{page}}')" type="button"  class="btn btn-outline-warning" value="+ Nuevo Pedido" />
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="example" class="table table-striped table-bordered " style="text-align: center;">
            {% if datos %}
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">producto</th>
                <th scope="col">distancia</th>
                <th scope="col">empresa</th>
                <th scope="col">encargado</th>
                <th scope="col">Aceptar</th>
                <th>Cancelar</th>
              </tr>
            </thead>
            <tbody>
              {% for dato in datos %}
              <tr id=row-{{dato.cliente_id}}>
                <div>
                  <td data-priority="1" id={{dato.cliente_id}}-name>{{dato.nombre}} {{dato.apellido}}</td>
                  <td id={{dato.cliente_id}}-telefono>{{dato.celular}}</td>
                  <td id={{dato.cliente_id}}-producto>
                    <ul>
                      {%for y in dato.pedidos%}
                      <li style="text-align:left;"><strong>{{y.cantidad}}</strong>{{y.producto}}</li>
                      {%endfor%}
                    </ul>
                  </td>
                  <td id={{dato.cliente_id}}-empresa>{{dato.empresa}}</td>
                  <td>
                    <div class="">
                      <select id={{dato.cliente_id}}-encargado style="width:150px;" class="custom-select">
                        <option value="value">--seleccione--</option>
                        {%for e in encargados %}
                        <option value={{e.nombre}}>{{e.nombre}}</option>
                        {%endfor%}
                      </select>
                    </div>
                  </td>
                  <td>
                    <button id='aceptar-{{dato.cliente_id}}' type="button" class="btn btn-primary confirm">Aceptar</button>
                  </td>
                  <td>
                    <button id='rechazar-{{dato.cliente_id}}' type="button" class="btn btn-danger delete">Eliminar</button>
                  </td>
                </div>
              </tr>
              {% endfor %}
              <span id="jola" hidden>{{valor}}</span>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
    {% else %}
    <p>no hay pedidos disponibles</p>
    {% endif %}
      <span id="page" hidden>{{page}}</span>
  </body>

  </html>
