<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">


    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static "/bd/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "/bd/css/mdb.min.css"%}">
    <link rel="stylesheet" href="{% static "/bd/css/style.css"%}">



  </head>
  <body class="" style="background-color:rgb(35, 207, 231);">
    <div class="container">

      {% if error %}
        <div class="alert alert-warning">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ error }}
        </div>
        {%endif%}
      <form method="post" class="form-signin">

        {% csrf_token %}
        <div class="col-sm-12 mb-5" style="margin-top:20%;" align="center">

        <div class="card ">
            <div class="card-body">

                <!--Header-->
                <div class="form-header deep-blue-gradient rounded">
                    <h3><i class="fa fa-lock"></i> Sesion</h3>
                </div>

                <!-- Material input email -->
                <div class="md-form font-weight-light">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="materialFormEmailEx" name="username" class="form-control">
                    <label for="materialFormEmailEx" class="">Nombre</label>
                </div>

                <!-- Material input password -->
                <div class="md-form font-weight-light">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="materialFormPasswordEx" name="password" class="form-control">
                    <label for="materialFormPasswordEx" class="">Contrasena</label>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-light-blue waves-effect waves-light" type="submit">Login</button>
                </div>

            </div>


        </div>

      </div>
      </form>
    </div>

<script  src="{% static "bd/js/jquery-3.2.1.min.js" %}"></script>
<script  src="{% static "bd/js/popper.min.js" %}"></script>
<script  src="{% static "/bd/js/bootstrap.min.js" %}"></script>
<script  src="{% static "bd/js/mdb.min.js" %}"></script>

  </body>
</html>
