<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {%include "bootstrap.html"%}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static "floating-labels.css" %}">
  <link rel="stylesheet" href="{% static "loader.css" %}">
  <script type="text/javascript" src="{%static "users.js"%}"></script>
  <script type="text/javascript" src="{%static "addprod.js"%}"></script>
  <script type="text/javascript" src="{%static "ajax-setup.js"%}"></script>
  </head>
  <body>
  <div class="container">
    <section>
      <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered " style="text-align:center;">
          <thead>
            <tr>
              <th scope="col">producto</th>
              <th scope="col">precio</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
            <tr id={{producto.id}}>
              <td id={{producto.id}}-prod>{{producto.producto}}</td>
              <td ><span id={{producto.id}}-prec>{{producto.precio}} </span> <span>Gs.</span> </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      {%include 'modal.html'%}
    </section>
    <br><br>
    <section>
    <div class="table-responsive">
      <table id="user-table" class="table table-striped table-bordered " style="text-align:center;">
        <thead>
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Cargo</th>
          </tr>
        </thead>
        <tbody>
          {% for encargado in encargados %}
          <tr id={{encargado.id}}>
            <td id={{encargado.id}}-name>{{encargado.username}}</td>
            <td id={{encargado.id}}-cargo>Encargado delivery</td>
          </tr>
          {%endfor%}
          {% for supervisor in supervisores %}
          <tr id={{supervisor.id}}>
            <td id={{supervisor.id}}-name>{{supervisor.username}}</td>
            <td id={{supervisor.id}}-cargo>Supervisor</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    </section>
  </div>
  </body>
</html>
