<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {%include "bootstrap.html"%}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static "floating-labels.css" %}">
  <link rel="stylesheet" href="{% static "loader.css" %}">

  <script type="text/javascript" src="{%static "addprod.js"%}"></script>
  <script type="text/javascript" src="{%static "ajax-setup.js"%}"></script>
  </head>
  <body>
  <div class="container">
    <div class="table-responsive">
      <table id="example" class="table table-striped table-bordered " style="text-align:center;">
        <thead>
          <tr>
            <th scope="col">producto</th>
            <th scope="col">precio</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in productos %}
          <tr id={{producto.id}}>
            <td id={{producto.id}}-prod>{{producto.producto}}</td>
            <td ><span id={{producto.id}}-prec>{{producto.precio}} </span> <span>Gs.</span> </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    <!-- Modal -->
    <button id="editar" type="button" class="btn btn-primary">editar</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Producto</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <form class="form-signin" >
          <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Detalles</h1>
          </div>
            <div class="form-group">
              <input type="text" id="selectprod" class="form-control" required>
              <label class="form-control-placeholder" for="selectprod">Producto</label>
            </div>
            <div class="form-group">
              <input type="number" name='producto' id="selectprec" class="form-control" required>
              <label class="form-control-placeholder" name='precio' for="selectprec">Precio (Gs.)</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" id="submit" class="btn btn-primary">Guardar</button>
        </div>
    <div id='loader' class="preloader-1">
      <div id="env" style="display:none;">Enviando
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
        <span class="line line-4"></span>
        <span class="line line-5"></span>
        <span class="line line-6"></span>
        <span class="line line-7"></span>

    </div>
    </div>
    </div>
    </div>
  </div>
</div>
  </body>
</html>
