<html><body id="result">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>

    <h1>Pedidos</h1>
    <button id='Notifications' type="button" class="btn btn-primary">
        Nuevos Pedidos <span id="val" class="badge badge-light"><div id="hhh">0</div></span>
    </button>
    <div id='hola'>
      {% if profiles %}
          {% for profile in profiles %}
          <form id="myform" class="form-inline" action="{% url 'pedidosrecientes' %}" method="POST">
              {% csrf_token %}
              <input style="text-align: center;" type="number" name="id" value={{profile.cliente_id}} readonly>
              <input style="text-align: center;" name="nombre" value={{profile.cliente_nombre}} readonly>
              <input style="text-align: center;" name='pedido' value={{profile.cliente_pedido}} readonly>
              <input style="text-align: center;" type="text" name='ubicacion' value={{profile.cliente_ubicacion}} readonly>
              <select class="custom-select" style="width:125px;" required name="encargado">
                  <option value="">-Seleccione-</option>
                  {% for encargado in encargados %}
                <option value={{encargado.nombre}}>{{encargado.nombre}}</option>
                {% endfor %}
              </select>
              <input class="btn-outline-primary" type="submit" value="Save">
          </form>
          {% endfor %}
      {% else %}
          <p>no hay pedidos disponibles</p>
      {% endif %}
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        var myFunction = function() {
          $( "#hola" ).load("http://127.0.0.1:8000/pedidosrecientes/ #hola");

        };
        myFunction();
        setInterval(myFunction, 60000);
        $('#Notifications').click(function(){

        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/ajax/",
            success: function(data) {
                console.log(document.getElementById('hhh').innerHTML);
                document.getElementById('hhh').innerHTML = data;
            }
        });

    });

    });

    </script>
    </body>
    </html>
