<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head>
  <body>
    <div id="hola" ng-app="myApp" ng-controller="customersCtrl" class="ng-scope">
      {%verbatim%}
    <table  style="text-align:center;" class="table table-sm">
       <thead class="thead-dark">
      <tr>
      <th scope="col">nombre</th>
      <th scope="col">apellido</th>
      <th scope="col">telefono</th>
      <th scope="col">ubicacion</th>
      <th scope="col">encargado</th>
      <th scope="col">Estado</th>
    </tr>
      </thead>
      <tbody id="result">
        <tr id="{{$index}}tr" ng-repeat="x in names">
          <td >{{x.cliente_nombre}}</td>
          <td>{{x.cliente_pedido}}</td>
          <td>{{x.cliente_ubicacion}}</td>
          <td>
            <select id="{{$index}}-select"style="width:150px;" class="custom-select">
              <option value=0>--seleccione--</option>
              <option ng-repeat='y in otro' value="{{y.nombre}}">{{y.nombre}}</option>
            </select>
          </td>
          <td>
            <button ng-controller='boton' type="button" class="btn btn-outline-primary" ng-click=myFunc($index)>Aceptar</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    {% endverbatim %}
    <script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("http://127.0.0.1:8000/pedidos.json")
        .then(function (response) {
          $scope.names = response.data;
        });
        $http.get("http://127.0.0.1:8000/encargados.json")
        .then(function (response1) {
          $scope.otro = response1.data;
        });
    });
    app.controller('boton', ['$scope','$http', function($scope,$http, CSRF_TOKEN) {
          $scope.myFunc = function($index) {
            var e = document.getElementById($index+"-select");
            console.log(e.selectedIndex);
            if (e.selectedIndex==0) {
              console.log('si');
              document.getElementById($index+'-select').style.borderColor = "red";
            }
            else {
              $http({
                url : 'http://127.0.0.1:8000/pedidosweb/',
                method: 'POST',
                data: {
                'pedido_id':$index+1,
                'encargado':  $scope.otro[e.selectedIndex-1].nombre,
                'pedido_cliente' : $scope.names[$index].cliente_pedido,
                'pedido_cliente_nombre': $scope.names[$index].cliente_nombre
              },
              headers: {
                'Content-Type':'application/json'
              }
            }).then(function successCallback(response) {
              console.log('enviado');
              document.getElementById($index+'tr').style.display = 'none';
            }, function errorCallback(response) {
              console.log('error');
            });
          }

      };

  }]);
    </script>
  </body>
</html>
